<html>
  <body>
    <!-- ... -->

    <%= form_for @gossip do |f| %>

        <div class="form-group">
    <% f.text_field :title, placeholder: 'Titre'%>
        <div>
    <% end %>

    <!-- ... -->
  </body>
</html>