




<br>
<br>


<br>
<center>
<form action="/welcome" method="get">
<label> <span>Say your name to momo  ! :</span><br>
  <input type="text" placeholder="Your name" name="first_name" required/>
  <input type="submit" class="btn btn-dark" value="Confirmer" />
</form>


</center>



<style>
span {
  color : white;
}
body {
background-image : url('https://parismatch.be/app/uploads/2018/10/momo-challenge-whatsapp-Copie-1100x715.jpg');
background-size : cover;
}
</style>